/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #1A1F71;
  --accent-color: #F7B600;
}

a,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.sub-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.body-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.small-body-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.content {
  margin: 2% 17% 8%;
  max-width: 1200px;
}

.tag {
  font-size: 14px;
}

.toolbar {
  width: 100%;
  height: 84px;
  border-bottom: 1.5px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
  
.visa-logo {
  margin-top: 21px;
}

.full {
  height: 100vh;
}

.search {
  display: inline-block;
}

.search-text {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.float-wrapper {
  float: right;
  margin-top: 2%;
}

.icon {
  vertical-align: middle;
  margin-right: 20px;
}

.container {
  margin-left: 17%;
  margin-right: 15%;
}

@media screen and (max-width: 1452px) {
  .container {
    margin-left: 14%;
    margin-right: 14%;
  }
  .content {
    margin: 2% 14% 8%;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .content {
    margin: 2% 10% 8%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content {
    margin: 2% 5% 8%;
  }
}


/* @media (max-width: 976px) {  
  div {
    display: none;
  }
} */
