<div class="mobile-container">
    <div class="mobile-wrapper">
      <span class="mobile-sub-header caption">On the go?</span>
      <img src="assets/images/Icon.svg" class="visa-logo2" alt="Visa Gives Logo">
      <span class="mobile-body-font caption2">Download our mobile app!</span>
      
      <div class="rectangle yellow"></div><div class="rectangle blue"></div>
      
      <div class="app-store">
        <div class="absolute">
          <img src="assets/images/apple.png" alt="App Store">
          <img src="assets/images/google-play.png" alt="Google Play">
        </div>
      </div>
    </div>
  </div>