<div *ngIf="charities && account" class="container">
    <span class="header">Donation History</span>
    <div class="img-container">
        <img src="assets/images/donation-bg.png" class="banner">
        <div class="centered">
            <span class="header dollar">$</span>
            <span class="total-donation">{{ totalDonationAmount }}</span>
        </div>
    </div>

    <div class="donation-grid">
        <div *ngFor="let donation of donations | keyvalue" class="container2">
            <div class="charity-img">
                <img [src]="donation.value.charityImg[0]" alt="Charity Image" class="charity-img">
            </div>
            <div class="info">
                <span class="small-dollar">$ </span>
                <span class="header amouont">{{ donation.value.amount }}</span>
                <a [routerLink]="['/charity', donation.key]">
                    <p class="text charity-name">{{ donation.key }}</p>
                </a>
                <p class="text2 money-text">"{{ donation.value.money }}"</p>
            </div>

            <div class="horizontal">
                <p class="date-font">Sent on&nbsp;</p>
                <div *ngFor="let date of donation.value.dates_donated; let i=index" [attr.data-index]="i">
                    <p *ngIf="i != donation.value.dates_donated.length - 1" class="dates date-font2"> {{ date }}, &nbsp;</p>
                    <p *ngIf="i == donation.value.dates_donated.length - 1" class="dates date-font2"> {{ date }} &nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-mobile">
    <app-mobile></app-mobile>
</div>