<div class="content">
    <span class="header">Donation History</span>
    <div class="img-container">
        <img src="assets/images/donation-bg.png" class="banner">
        <div class="centered">
            <span class="header dollar">$</span>
            <span class="total-donation">200</span>
        </div>
    </div>

    <div class="donation-grid">
        <div class="charity-img">charity-img
        </div>
        <div class="text">Text
        </div>

        <div class="charity-img">charity-img
        </div>
        <div class="text">Text
        </div>

        <div class="charity-img">charity-img
        </div>
        <div class="text">Text
        </div>
       
    </div>
</div>