.banner {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    position: relative;
    text-align: center;
    margin-top: 2%;
}

.total-donation {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
}

.dollar {
    margin-right: 15%;
    line-height: 90px;
    vertical-align: top;
}

.donation-grid {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 3%;
    /* width: 75%; */
    margin-top: 10%;
}

.info {
    display: block;
    margin-left: 5%;
}

.charity-img {
    height: 152px;
}

.text {
    margin-top: -0.5%;
}

.charity-img {
    width: 300px;
    float: left;
    margin-right: 2%;
}

.small-dollar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
    line-height: 39px;
}

.amount {
    line-height: 39px;
}

.dates {
    display: flex;
}

.date-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}


.horizontal {
    display: flex;
    /* justify-content: space-eve; */
}