input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border-radius: 2px;
    width: 200px;
    
    background: transparent;
    border: none;
    outline: transparent;
}

.image-upload > input {
    display: none;
}

.img {
    border-radius: 5px;
}

input{
    text-indent: 10px;
  }

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 2% 2%;
    vertical-align: top;
    text-align: center;
}

.img-wrapper {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 13%;
}

.img-wrapper img {
    width: 100%;
    cursor: pointer;
}

.img-wrapper > input {
    display: none;
}

.form-text {
    text-align: left;
    position: relative;
    margin-top: 6px;

}

.form-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(5, 40px);
    grid-row-gap: 5px;
    margin: 12% 0 8% 15%;
}

.button {
    background: var(--primary-color);
    padding: 3% 21%;
    border-radius: 2px;
    cursor: pointer;
}

.button-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.button-wrapper {
    margin: 0 2% 15% 2%;
    vertical-align: top;
    text-align: center;
}

.created {
    vertical-align: middle;
    text-align: center;
    padding: 5% 5%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    width: 200px;
}

.card-width {
    width: 500px;
}

.signin-text {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    card {
        display: none;
    }
}