<div class="center">
    <card class="card-width">
        <form *ngIf="!submit" [formGroup]="accountForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="container">
                <div class="img-wrapper">
                    <img *ngIf="!image" src="assets/images/chooseProfilePic.png">
                    <!-- <input type="file" 
                        [(ngModel)]="image" src="assets/images/chooseProfilePic.png" accept="image/x-png,image/gif,image/jpeg" formControlName="profilePicture">
                    <img *ngIf="image" [src]="image"> -->
                </div>
            </div>
            <div class="form-grid">
                <span class="body-font form-text field" required>First name</span>
                <input required type="text" class="body-font" [(ngModel)]="firstName" placeholder="Al"
                    formControlName="first" required>

                <span class="body-font form-text">Last Name</span>
                <input type="text" class="body-font" [(ngModel)]="lastName" placeholder="Kelly"
                    formControlName="last" required>

                <span class="body-font form-text">Email</span>
                <input type="text" class="body-font" [(ngModel)]="email" placeholder="alkelly@visa.com"
                    formControlName="email_" required email>

                <span class="body-font form-text">Password</span>
                <input type="text" class="body-font" [(ngModel)]="password" placeholder="*******"
                    formControlName="pass" required>

                <span class="body-font form-text">Confirm</span>
                <input type="text" class="body-font" [(ngModel)]="confirmPassword" placeholder="*******"
                    formControlName="confirm" required>
            </div>
            <div class="button-wrapper">
                <input type="submit" class="button button-text" 
                value="Create Account"
                [disabled]="!f.valid">
            
            </div>
        </form>
        <div *ngIf="submit" class="sub-header created">Account Created.</div>
    </card>
</div>

<div id="div-mobile">
    <app-mobile></app-mobile>
</div>