<div class="center">
    <card>
        <form *ngIf="!submit" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="img-wrapper">
                    <img *ngIf="!image" src="assets/images/chooseProfilePic.png">
                    <!-- <input type="file" 
                        [(ngModel)]="image" src="assets/images/chooseProfilePic.png" accept="image/x-png,image/gif,image/jpeg" formControlName="profilePicture">
                    <img *ngIf="image" [src]="image"> -->
                </div>
            </div>
            <div class="form-grid">
                <span class="body-font form-text field" required>First name</span>
                <input required type="text" class="body-font" [(ngModel)]="firstName" placeholder="Al"
                    formControlName="first">

                <span class="body-font form-text">Last Name</span>
                <input type="text" class="body-font" [(ngModel)]="lastName" placeholder="Kelly"
                    formControlName="last">

                <span class="body-font form-text">Email</span>
                <input type="text" class="body-font" [(ngModel)]="email" placeholder="alkelly@visa.com"
                    formControlName="email_">

                <span class="body-font form-text">Password</span>
                <input type="text" class="body-font" [(ngModel)]="password" placeholder="*******"
                    formControlName="pass">

                <span class="body-font form-text">Confirm</span>
                <input type="text" class="body-font" [(ngModel)]="confirmPassword" placeholder="*******"
                    formControlName="confirm">
            </div>
            <div class="button-wrapper">
                <input type="submit" class="button button-text" value="Create Account">
            </div>
        </form>
        <div *ngIf="submit" class="sub-header created">Account Created.</div>
    </card>
</div>