<div class="center">
    <card>
        <div class="container">
            <div class="img-wrapper">
                <img src="assets/images/chooseProfilePic.png">
            </div>
        </div>

        <div class="form-grid">
            <span class="body-font form-text">First name</span>
            <span class="body-font form-text">[input here]</span>
            <span class="body-font form-text">Last Name</span>
            <span class="body-font form-text">[input here]</span>
            <span class="body-font form-text">Email</span>
            <span class="body-font form-text">[input here]</span>
            <span class="body-font form-text">Password</span>
            <span class="body-font form-text">[input here]</span>
            <span class="body-font form-text">Confirm</span>
            <span class="body-font form-text">[input here]</span>
        </div>
        
        <div class="button-wrapper">
            <span class="button button-text">Create Account</span>
        </div>
    </card>
</div>