<div class="toolbar" role="banner">
    <div class="container">
        <a href="/">
            <img alt="Visa Logo" class="visa-logo" src="assets/images/VISA-logo.png"/>
        </a>

        <!-- TO-DO: Start + finish features for search + account page and add routing -->
        <div class="float-wrapper">
            <div class="search">
                <p class="search-text body-font">Search</p>
                <img src="assets/images/search.svg" class="icon" alt="Search Icon">
            </div>
            <img src="assets/images/account.svg" class="icon" alt="Account Icon">
        </div>
    </div>
</div>

<!-- TO-DO: Start + finish features for tags pages + add routing to each respective `tag` -->
<div class="tag-container">
    <div *ngFor="let tag of tags" class="tag-bar">
        <span class="small-body-font tag">{{tag}}</span>
    </div>
</div>

<div class="content" role="main">
    <span class="sub-header">Featured</span>
    <div class="grid-container">
        <div class="box1">
            <img class="images" src={{featureImage}}/>
        </div>
        <div class="box-5">
            <span class="header">{{name}}</span>
        </div>
        <div class="box2">
            <img class="images" src={{featureImage}}/>
            <div class="sub-feature">
                <span class="body-font">{{name}}</span>
            </div>
        </div>
        <div class="box3">
            <img class="images" src={{featureImage}}/>
            <div class="sub-feature">
                <span class="body-font">{{name}}</span>
                <br>
                <div class="tag-button body-font tag-button-text">Human & Civil Rights</div>
                <div class="tag-button body-font tag-button-text">Tag</div>
            </div>
        </div>
        <div class="box4">
            <img class="images" src={{featureImage}}/>
            <div class="sub-feature">
                <span class="body-font">{{name}}</span>
                <!-- TO-DO: readjust tag button sizes dynamically to amount of text -->
                <div class="tag-button body-font tag-button-text">Tag</div>
                <div class="tag-button body-font tag-button-text">Tag</div>
            </div>
        </div>
        <div class="box6">
            <!-- TO-DO: link to total list of non-profits -->
            <span class="small-body-font small-body-size">See More...</span>
        </div>
     </div>
    
</div>