:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px 30px;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  
}

@media screen and (max-width: 575px) {
  
}

.content {
  margin: 2% 17%;
  height: 100vh;
  max-width: 1200px;
}

.toolbar {
  width: 100%;
  height: 84px;
  border-bottom: 1.5px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
}

.visa-logo {
  margin-top: 21px;
}

.full {
  height: 100vh;
}

.search {
  display: inline-block;
  margin: 28px 30px 5px 5px;
}

.search-text {
  display: inline-block;
  margin-right: 10px;
}

.float-wrapper {
  float: right;
}

.account-icon {
  margin-top: 20px;
}

.icon {
  vertical-align: middle;
  margin-bottom: 10px;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

.grid-container {
  display: grid;
  /* grid-template-columns: % 30%; */
  /* grid-column-gap: ; */
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(4, 100px);
  grid-column-gap: 4em;
  grid-row-gap: 2em;
  margin-top: 20px;
  /* gap: 1px 5%; */
  /* grid-template-areas: "Featured-charity ." "Featured-charity ." "Featured-charity ."; */
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 1px solid black;
}

.box2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid black; */
}
.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  /* border: 1px solid black; */
}
.box4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  /* border: 1px solid black; */
}

.box5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.box6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.small-body-size {
  font-size: 12px;
}

.box1 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.box2 > img, 
.box3 > img, 
.box4 > img {
  object-fit: cover;
  width: auto;
  max-height: 100%;
  float: left;
}

.tag {
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.tag-container {
  display: flex;
  margin-top: 25px;
  margin-left: 17%;
  margin-right: 17%;
}
.tag-bar {
  margin: auto;
}

.tag-button {
  /* width: auto; */
  /* height: auto; */
  background: #F0F0F0;
  border-radius: 2px;
  margin: 10px 2px;
}
.tag-button-text {
  font-size: 11px;
  padding: 2px 10px;
  /* line-height: 11px; */
  text-align: center;
}
.sub-feature {
  float: left;
  vertical-align: top;
  margin-left: 5%;
}
