<div *ngIf="account" class="content">
    <span class="header">Payment Methods</span>
    <br>
    <br>
    <span *ngIf="(account.payment === undefined)" class="sub-header">Add a Visa Card to send donations</span>
    <span *ngIf="(account.payment !== undefined)" class="sub-header">Your Visa card:</span>

    <div class="center-wrap">
        <div class="circle-container">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="circle circle3"></div>
        </div>
    </div>

    <!-- Payment method is already added -->
    <div class="card-size" *ngIf="(account.payment != undefined)" >
        <div *ngIf="!edit">
            <card>
                <div class="card-size" style="margin-top: 10%; margin-left: 5%">
                    <span class="input-text name">{{ account.payment[0].card_holder }}</span>
                    <br><br>
                    <span class="input-text small"> **** **** **** {{ account.payment[0].card_number % 100000 }} </span>
                    <br><br>
                    <span class="input-text small"> *** </span>
                    <span class="input-text small"> *** </span>
                </div>
                <div *ngIf="!edit" class="logo">
                    <img src="assets/images/VISA-logo.png">
                </div>
            </card>
            <div class="option-margin">
                <button *ngIf="!edit" class="btn edit" (click)="onEdit()">Edit Card</button>
                <button class="btn edit" (click)="deleteCard()">Delete Card</button>
            </div>
        </div>

        <!-- Edit Card -->
        <div *ngIf="edit">
            <form [formGroup]="updateCard">
                <card>
                    <div class="card-size" style="margin-top: 10%; margin-left: 5%">
                        <input required type="text" class="input-text name" 
                        [(ngModel)]="account.payment[0].card_holder"
                        formControlName="fullName">
                        <br><br>
                        <input required type="text" class="input-text small" 
                        [(ngModel)]="account.payment[0].card_number"
                        formControlName="cardNumber"> 
                        <br>
                        <div class="form-container input">
                            <input required type="text" class="input-text small inline" 
                                [(ngModel)]="account.payment[0].exp_"
                                formControlName="expDate"> 
                            <input required type="text" class="input-text small inline" 
                                [(ngModel)]="account.payment[0].cvv_"
                                formControlName="CVV"> 
                        </div>
                    </div>

                    <div class="logo">
                        <img src="assets/images/VISA-logo.png">
                    </div>
                </card>
                <div class="option-margin">
                    <button class="btn edit" (click)="updateCardInfo()" style="display: inline-block;">Save Card</button>
                </div>
                <div class="rectangle"></div>
            </form> 
        </div>
        <br>
    </div>

    <!-- Payment method has not been inserted -->
    <div class="card-size" *ngIf="(account.payment === undefined)">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <card>
                <div class="card-size" style="margin-top: 10%; margin-left: 5%">
                    <input required type="text" class="input-text name" 
                    placeholder="Full Name" [(ngModel)]="fullName"
                    formControlName="fullName">
                    <br><br>
                    <input required type="text" class="input-text small" 
                    placeholder="1234 1234 1234 1234" [(ngModel)]="cardNumber"
                    formControlName="cardNumber"> 
                    <br>
                    <input required type="text" class="input-text small inline" 
                    placeholder="EXP" [(ngModel)]="expDate"
                    formControlName="expDate"> 
                    <input required type="text" class="input-text small" 
                    placeholder="CVV" [(ngModel)]="CVV"
                    formControlName="CVV"> 
                 </div>
                <div class="logo">
                    <img src="assets/images/VISA-logo.png">
                </div>
            </card>
            
            <input type="submit" value="Add Card">
        </form> 
            
    </div>
</div>

<div id="div-mobile">
    <app-mobile></app-mobile>
</div>