<div *ngIf="account" class="center">
    <card class="card-width">
        <div class="container">
            <div class="img-wrapper">
                <img [src]="account.profilePicture">
            </div>
            <span class="sub-header name">{{ (account.firstName | titlecase) + ' ' + (account.lastName | titlecase) }}</span>
            <span class="small-body-font charity-text">Donated to 
                {{ numDonatedCharities }}
                {{ (numDonatedCharities != 1) ? 'NPOs' : 'NPO' }} 
            </span>
        </div> 
        
        <div class="link-grid">
            <div class="reset-password">
                <span class="link-font" (click)="resetPassword()">Reset Password</span>
            </div>
            <div class="logout">
                <a href="/" (click)="authenticationService.signOut()" class="link-font">Sign Out</a>
            </div>
            <div class="invite-friends">
                <span class="link-font">Invite Friends</span>
            </div>
            <div class="delete-account">
                <span class="link-font" (click)="trigger()">Delete Account</span>
            </div>
            <div class="contact-us">
                <span class="link-font">Contact Us</span>
            </div>
        </div>
    </card>
    <span *ngIf="reset" class="link-font alert">Reset Password Email Sent!</span>
    <span *ngIf="delete" (click)="deleteUser()" class="link-font alert">Click Here to Confirm Account Deletion</span>
</div>

<div id="div-mobile">
    <app-mobile></app-mobile>
</div>