<div *ngIf="account" class="center">
    <card class="card-width">
        <div class="container">
            <div class="img-wrapper">
                <img [src]="account.profilePicture[0]">
            </div>
            <span class="sub-header name">{{ account.name }}</span>
            <span class="small-body-font charity-text">Donated to 
                {{ numDonatedCharities }}
                {{ (numDonatedCharities != 1) ? 'NPOs' : 'NPO' }} 
            </span>
        </div> 

        <!-- TO-DO: add routing once backend is finished -->
        <div class="link-grid">
            <div class="reset-password">
                <span class="link-font">Reset Password</span>
            </div>
            <div class="logout">
                <a href="/" (click)="authenticationService.signOut()" class="link-font">Sign Out</a>
            </div>
            <div class="invite-friends">
                <span class="link-font">Invite Friends</span>
            </div>
            <div class="delete-account">
                <span class="link-font">Delete Account</span>
            </div>
            <div class="contact-us">
                <span class="link-font">Contact Us</span>
            </div>
        </div>
    </card>
</div>

<div id="div-mobile">
    <app-mobile></app-mobile>
</div>