.container {
    margin: 2% 2%;
    vertical-align: top;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    display: block;
    margin-top: 0.5em;
}

.charity-text {
    margin-top: 0.75em;
}

.img-wrapper {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 13%;
}

.img-wrapper img{
    width: 200px;
    border-radius: 5px;

}

.link-grid {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 1fr 1fr;
    margin: 10% 0 15% 15%;
    grid-template-areas: 
        "reset-password delete-account"
        "invite-friends logout"
        "contact-us ...";
}

.reset-password {
    grid-area: reset-password;
}

.logout {
    grid-area: logout;
}

.invite-friends {
    grid-area: invite-friends;
}

.delete-account {
    grid-area: delete-account;
}

.contact-us {
    grid-area: contact-us;
}

.link-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}

.card-width {
    width: 500px;
}

.alert {
    padding: 20px;
    background-color: var(--accent-color);
    color: white;
    position:absolute;
    bottom:0;
}

@media screen and (max-width: 768px) {
    card {
        display: none;
    }
}