<div class="center">
    <div class="card">
        <div class="container">
            <div class="img-wrapper">
                <img [src]="account.profilePicture">
            </div>
            <span class="sub-header name">{{ account.name }}</span>
            <span class="small-body-font charity-text">Donated to 
                {{ account.donatedCharities.length }}
                {{ (account.donatedCharities.length != 1) ? 'NPOs' : 'NPO' }} 
            </span>
        </div>
    </div>
</div>