p span {
    display: block;
}

.charity-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 175px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 1%;

    grid-template-areas: 
    "main-photo side-1"
    "main-photo side-2"
    "main-photo side-3";
}

.main-photo {
    grid-area: main-photo;
    overflow: hidden;
    object-fit: contain;
}

.main-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.side-1 {
    grid-area: side-1; 
}

.side-2 {
    grid-area: side-2;
}

.side-3 {
    grid-area: side-3;
}

.side-1 > img,
.side-2 > img,
.side-3 > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.description {
    margin-top: 5%
}

.donation-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.donation-button {
    display: block;
    background: var(--secondary);
    border-radius: 3px;
    padding: 15px 15px;
    min-width: 167px;
    text-align: center;
    color: #ffffff;
    margin: 5px;
}

.no-display {
    display: block;
    background: white;
    border-radius: 3zxcpx;
    padding: 5px 15px;
}

.title {
    display: inline;
    margin: 0% 5.9%;
}

.right-text {
    float: right;
}

.wrapper {
    padding: 5% 10%;
}

.confirmation {
    text-align: center;
}

.donation-info {
    margin-top: 10px;
}

.confirm {
    margin-left: 150px;
    margin-top: 20px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
