p span {
    display: block;
}

.charity-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 175px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 1%;

    grid-template-areas: 
    "main-photo side-1"
    "main-photo side-2"
    "main-photo side-3";
}

.image-margin {
    margin-top: 1.5%;
}

.main-photo {
    grid-area: main-photo;
    overflow: hidden;
    object-fit: contain;
}

.main-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.side-1 {
    grid-area: side-1; 
}

.side-2 {
    grid-area: side-2;
}

.side-3 {
    grid-area: side-3;
}

.side-1 > img,
.side-2 > img,
.side-3 > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.description {
    margin-top: 5%
}

.donation-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}

.horizontal-margin {
    margin-bottom: 5%;
}

.donation-button {
    display: block;
    background: var(--secondary);
    border-radius: 3px;
    padding: 15px 30px;
    min-width: 167px;
    text-align: center;
    color: #ffffff;
    margin: 5px;
    cursor: pointer;
}

.off-button {
    display: block;
    background: #C7C7C7;
    border-radius: 3px;
    padding: 15px 30px;
    min-width: 167px;
    text-align: center;
    color: #ffffff;
    margin: 5px;
}

.no-display {
    display: block;
    background: white;
    border-radius: 3zxcpx;
    padding: 5px 15px;
}

.title {
    display: inline;
    margin: 0% 5.9%;
}

.right-text {
    float: right;
    margin-right: 1%
}

.left-text {
    float: left;
    margin-left: 1%;
}

.wrapper {
    padding: 5% 10%;
}

.donated-text {
    font-style: italic;
}

.donated-margin {
    margin-top: 1%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    position: relative;
    text-align: center;
    margin-top: 2%;
}

.thanks-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.italics {
    font-style: italic;
}

.inline {
    display: inline;
}

.cover-img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}