<div class="content">
    <span class="header">{{ this.charity.name }} </span>

    <div class="charity-grid">
        <div class="main-photo">
            <img [src]="charity.coverPhoto">
        </div>

        <div *ngFor="let i of [1,2,3]" ngClass="side-{{ i }}">
            <img [src]="charity.additionalPhotos[i - 1]">
        </div>
    </div>

    <div class="description">
        <p class="body-font">
            <span>{{ charity.summary }}</span>
            <br>
            <span>{{ charity.description }}</span>
            <br>
            <span>{{ charity.money }}</span>
        </p>
    </div>

    <div class="description">
        <div class="title">
            <span class="donation-text">Donate Immediately</span>
            <div class="right-text">
                <input type="checkbox">
                Make it Monthly
            </div>
        </div>

        <div class="horizontal">
            <div *ngFor="let amount of charity.donationTiers" class="donation-margin">
                <span class="donation-text">
                    <div class="donation-button">Donate ${{ amount }} → </div>
                </span>
            </div>
        </div>

        <div *ngIf="(account.paymentMethod == 'undefined')">
            <div  class="right-text" >
                No payment method
            </div>
        </div>
        <div *ngIf="!(account.paymentMethod == 'undefined')">
            <div  class="right-text" >
                Donating from Visa card ************{{ account.paymentMethod % 10000}}
            </div>
        </div>
    </div>
</div>