<div *ngIf="charity" class="content">
    <span class="header">{{ charity.name }} </span>

    <div class="charity-grid">
        <div class="main-photo">
            <img [src]="charity.coverPhoto[0]">
        </div>

        <div *ngFor="let i of [1,2,3]" ngClass="side-{{ i }}">
            <img [src]="charity.additionalPhotos[i - 1]">
        </div>
    </div>

    <div class="description">
        <p class="body-font">
            <span>{{ charity.summary }}</span>
            <br>
            <span>{{ charity.description }}</span>
            <br>
            <span>{{ charity.money }}</span>
        </p>
    </div>

    <div class="description">
        <span class="donation-text">Show your support</span>
    </div>
</div>