<div class="content">
    <span class="header">Login</span>
    <card>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <input required type="text" [(ngModel)]="email" formControlName="email_" placeholder="Email">
            <input required type="text" [(ngModel)]="password" formControlName="password_" placeholder="Password">
            <input type="submit" class="button button-text" value="Log In" [disabled]="!f.valid">
        </form>
    </card>
</div>