.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 10px;
	background-color: #ffffff;
	border-color: #f1f1f1;
	border-style: solid;
	border-radius: 10px;
	min-width: 400px;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.content a {
	display: block;
}*/

.account a {
	display: inline;
	padding: 12px 16px;
	padding-top: 50px;
	font-size: 18px;
}

.info {
	column-count: 2;
}

.info a {
	/*display: inline;*/
	padding: 12px 16px;
	/*column-count: 2;*/
	/*column-span: 1;*/
	font-size: 16px;
}

.signout {
	padding: 12px 16px;
	font-size: 16px;
	text-align: right;
	padding-right: 110px;
}

.dropdown-content a:hover { color: #F7B600;}
.dropdown:hover .dropdown-content {display: block;}