hr {
	opacity: 0.2;
}

img {
	border-radius: 50%;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 10px;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
	border-style: solid;
	min-width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
}

.account a {
	display: inline;
	padding: 12px 16px;
	padding-top: 50px;
	font-size: 18px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
	column-count: 2;
}

.info a {
	padding: 12px 16px;
	font-size: 16px;
}

.signout {
	padding: 12px 16px;
	font-size: 16px;
	text-align: right;
	padding-right: 110px;
}

.dropdown-content a:hover { 
	color: var(--accent-color); 
}

.dropdown:hover .dropdown-content {
	display: block; 
}

.account-img {
	width: 36px;
}