<div *ngIf="account" class="dropdown">
    <img [src]="account.profilePicture" class="icon account-img" alt="Account Icon">
    <div class="small-body-font dropdown-content">
        <div class="account">
            <a href="account">
                <img [src]="account.profilePicture" class="icon account-img" alt="Account Icon">
                {{ account.name }}
            </a>
        </div>
        <hr>
        <div class="info" *ngFor="let accountfeature of accountfeatures; let i = index">
            <div *ngIf="i % 2 == 0">
                <a href="{{accountroutes[i]}}">{{ accountfeature }}</a>
                <div *ngIf="i + 1 < accountfeatures.length">
                    <a href="{{accountroutes[i+1]}}">{{ accountfeatures[i + 1] }}</a>
                </div>
            </div>
        </div>
        <div class="signout">
            <a [routerLink]="" (click)="authenticationService.signOut()"> Sign Out </a>
        </div>
    </div>
</div>

<div *ngIf="!account" class="dropdown">
    <img src="assets/images/account.svg" class="icon" alt="Account Icon">
    <div class="small-body-font dropdown-content">
        <div class="center">
            <div class="form-grid">
                <a [routerLink]="['login']" class="center">Sign in</a>
                <a [routerLink]="['create-account']" class="center">Create Account</a>
                <button (click)="authenticationService.signOut()">sign out</button>
            </div>
        </div>
    </div>
</div>